<div *ngIf="field.visible" class="field">
  <md-input-container dividerColor="{{ control.hasError('required') && control.touched ? 'warn' : 'primary'}}" style="width: 100%;">
    <textarea mdInput type="{{ field.type }}" placeholder="{{ field.placeholder }}{{field.isRequired ? '*' : ''}}" [formControl]="control" (focus)="onFocus()" (blur)="onBlur()"></textarea>
    <md-hint align="start" *ngIf="control.hasError('required') && control.touched" style="color:red;">{{field.errorMessage}}</md-hint>
  </md-input-container>
  <div *ngIf="control.value">
    <a class="pointer material-icons md-48 color-error-red" (click)="clearField()" mdTooltip="Clear" [mdTooltipPosition]="'right'">close</a>
  </div>
</div>