<div *ngIf="field.visible" class="field">
  <md-select placeholder="{{field.placeholder}}" (focus)="onFocus()" (blur)="onBlur()" [formControl]="control" [required]="field.isRequired" class="select-material-design" style="width: 100%; margin: 14px 0px;">
    <md-option *ngFor="let option of options" [value]="option.key">
      {{option.value}}
    </md-option>
  </md-select>
   <div *ngIf="control.value">
    <a class="pointer material-icons md-48 color-error-red" (click)="clearField()" mdTooltip="Clear" [mdTooltipPosition]="'right'">close</a>
  </div>
</div>
