<div *ngIf="field.visible" class="field">
  <md-input-container dividerColor="{{ control.hasError('required') && control.touched ? 'warn' : 'primary'}}" style="width: 100%;">
    <input mdInput [mdDatepicker]="formDatepicker" (focus)="onFocus()" (blur)="onBlur()" [placeholder]="field.placeholder" [formControl]="control" [min]="field.minDate" [max]="field.maxDate">
    <button mdSuffix [mdDatepickerToggle]="formDatepicker"></button>
  </md-input-container>
  <md-datepicker #formDatepicker></md-datepicker>
  <div *ngIf="control.value">
    <a class="pointer material-icons md-48 color-error-red" (click)="clearField()" mdTooltip="Clear" [mdTooltipPosition]="'right'">close</a>
  </div>
</div>